# Ignoring vscode settings.
.vscode/

# Ignoring the dependencies' folder.
node_modules/

# Ignoring the source files.
src/

# Ignoring the tests.
tests/

# Ignoring the gulpfile.
gulpfile.js

# Ignoring git specific files.
.gitignore
.gitattributes

# Ignoring webpack configurations.
webpack.config.js
